{% extends "core/home.html" %}
{% load static %}
{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
    <div class="container-xxl">
        <div class="row d-flex justify-content-center mt-2">
            <div class="col-8">
                <div class="card">
                    <div class="card-header">

                        <h1>{% trans "Password Reset" %}</h1>
                    </div>
                    <div class="card-body">
                        {% if user.is_authenticated %}
                            {% include "account/snippets/already_logged_in.html" %}
                        {% endif %}

                        <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

                        <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <div class="d-flex justify-content-end">
                                <input type="submit" class="btn btn-warning" value="{% trans 'Reset My Password' %}"/>
                            </div>
                        </form>

                        <p class="mt-4 text-center" style="font-size: 14pt;">
                            Если у Вас возникли трудности с сбросом
                            пароля, <a href="https://vk.com/im?sel=-181277189">напишите</a> нам</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
