{% extends 'base.html' %}
{% load static %}
{% load user_tags %}
{% block title %}
    Перевод китайских BL-новелл Privereda1 | {{ chapter.novell.rus_title }} | {{ chapter.title }}
{% endblock %}
{% block styles %}
    <style>
        .chapter_header {

        }

        .chapter_text {
            font-size: 12pt;
            padding-left: 8%;
            padding-right: 8%;
            padding-top: 3%;
        }

        @media print {
            .chapter_text {
                display: none;
            }
        }

        body {
            background-color: rgb(237, 226, 220);
        }

        .btn-outline-backtonovell {
            color: rgba(18, 61, 106, 0.75);
            border-color: rgba(18, 61, 106, 0.75);
        }

        .btn-outline-backtonovell:hover {
            color: white;
            border-color: rgba(18, 61, 106, 0.75);
            background-color: rgba(18, 61, 106, 0.75);
        }

        .btn-outline-chapter-nav {
            color: black;
            border-color: rgba(187, 178, 181, 0.75);
        }

        .btn-outline-chapter-nav:hover {
            color: white;
            border-color: rgba(187, 178, 181, 0.75);
            background-color: rgba(187, 178, 181, 0.75);
        }


        .comment-header a {
            color: rgba(18, 61, 106, 0.75);
        }

        .comment-header a:hover {
            color: rgba(50, 150, 255, 0.75);
        }

    </style>


{% endblock %}
{% block scripts %}
    <script type="text/javascript">
        document.ondragstart = noselect;
        // запрет на перетаскивание
        document.onselectstart = noselect;
        // запрет на выделение элементов страницы
        document.oncontextmenu = noselect;

        // запрет на выведение контекстного меню
        function noselect() {
            return false;
        }
    </script>
{% endblock %}
{% block content %}
    <div class="container-xxl mt-2">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <div class="h4 card-title chapter_header d-flex justify-content-between">
                            <div>Глава {{ chapter.number }}</div>
                            <div>
                                <a type="button" class="btn btn-outline-backtonovell btn-sm"
                                   href="{{ chapter.novell.get_absolute_url }}">
                                    <i class="bi bi-backspace" style="vertical-align: text-bottom;"></i>
                                    <span style="vertical-align: text-bottom;">На страницу новеллы</span>
                                </a>
                            </div>
                        </div>
                        <h5 class="card-subtitle">
                            {{ chapter.title }}
                        </h5>
                    </div>
                    <div class="card-body chapter_text">
                        {{ chapter.chapter_text|safe|linebreaks }}
                    </div>
                    <div class="card-footer d-flex justify-content-between">

                        {% if chapter.prev_chapter_url %}
                            <a type="button" class="btn btn-outline-chapter-nav"
                               href="{{ chapter.prev_chapter_url }}"><i
                                    class="bi bi-arrow-bar-left font-weight-bold text-danger h6"></i>
                                Предыдущая
                                глава</a>
                        {% else %}
                            <button type="button" class="btn btn-outline-chapter-nav disabled"><i
                                    class="bi bi-arrow-bar-left text-danger font-weight-bold h6"></i>
                                Предыдущая
                                глава
                            </button>
                        {% endif %}
                        <button type="button" class="btn btn-outline-light" data-bs-toggle="modal"
                                data-bs-target="#chapter-list" style="background-color: rgba(18,61,106,0.75);"><i
                                class="bi bi-list-ol"></i>
                            Оглавление
                        </button>


                        <div class="modal fade" id="chapter-list" tabindex="-1"
                             aria-hidden="true">

                            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                <div class="modal-content">
                                    <div class="modal-header justify-content-center">
                                        <h4><i class="bi bi-list-ol text-muted"></i>
                                            Оглавление</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="list-group">
                                            {% for n in chapter.novell.chapters.all|active_chapters %}
                                                <a role="button" href="{{ n.get_absolute_url }}"
                                                   class="list-group-item list-group-item-action
                                    {% if not n.status %}list-group-item-warning disabled
                                    {% elif user.is_authenticated and n in user.user_profile.chapter_readed.all %}
                                    list-group-item-light
                                    {% else %}
                                    list-group-item-secondary
                                    {% endif %}">
                                                    <div class="d-flex justify-content-between">
                                        <span class="h5 mb-0">
                                                {{ n.title }}
                                            {% if user.is_authenticated and n in user.user_profile.chapter_readed.all %}
                                                <i class="bi bi-check2-square"></i>
                                            {% endif %}
                                            {% if not n.status %}
                                                <span class="small">
                                                <i class="bi bi-circle-fill text-danger"
                                                   style="vertical-align: bottom;"></i>
                                                Анонос
                                                </span>
                                            {% endif %}
                                        </span>
                                                        <span class="text-muted"><small>{{ n.publish|date }}</small></span>
                                                    </div>

                                                </a>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% if chapter.next_chapter_url %}
                            <a type="button" class="btn btn-outline-chapter-nav" href="{{ chapter.next_chapter_url }}">Следующая
                                глава <i
                                        class="bi bi-arrow-bar-right text-success"></i></a>
                        {% else %}
                            <button type="button" class="btn btn-outline-chapter-nav disabled"><i
                                    class="bi bi-arrow-bar-right text-success"></i>
                                Следующая глава
                            </button>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>


        <div class="row mt-3">
            {% include 'core/comments.html' with comments=chapter.comments %}
            {% include 'core/include/add_comment_form.html' with chapter=chapter %}

        </div>
    </div>
{% endblock %}