{% load static %}
{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static "core/comments.css" %}">

{% endblock %}

{% block scripts %}
    <script type="text/javascript" src='{% static "core/js/like-dislike.js" %}'></script>
{% endblock %}



<div class="container mt-5">
    <div class="row d-flex justify-content-center">
        <div class="col-md-9">
            <div class="headings d-flex justify-content-center align-items-center mb-3">
                <h4>Комментарии ({{ comments.count }}) </h4>
            </div>
            {% for comment in chapter.get_comments %}
                <div class="card p-3 {% if not forloop.first %}mt-2{% endif %}" id="comment{{ comment.id }}">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="user d-flex flex-row align-items-center">
                            <img src="{{ comment.author.user_profile.avatar.url }}"
                                 width="30"
                                 class="user-img rounded-circle mr-2" alt="{{ comment.author }}">
                            <span><a href="{{ comment.author.user_profile.get_absolute_url }}" class="font-weight-bold text-primary">{{ comment.author }}</a> </span>
                        </div>
                        <small>{{ comment.created|timesince }} назад </small>
                    </div>
                    <div class="d-flex px-5 my-1"><p class="mb-0">{{ comment.body }}</p></div>
                    <div class="action d-flex justify-content-between mt-2 align-items-center" style="cursor: pointer">
                        <div class="reply px-4">
                            <span class="dots"></span>
                            <a href="#CommentForm" onclick="addReply('{{ comment.author }}','{{ comment.id }}')"><small>Ответить</small></a>
                        </div>
                        <div>
                            {% include 'core/include/like_dislike_panel.html' %}

                        </div>
                    </div>

                </div>

                {% for com in comment.childs.all %}
                    <div class="card p-3 mt-2" id="comment{{ com.id }}" style="margin-left: 100px;">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="user d-flex flex-row align-items-center">
                                <img src="{{ com.author.user_profile.avatar.url }}"
                                     class="user-img rounded-circle mr-2" alt="{{ com.author }}" width="30">
                                <span><a class="font-weight-bold text-primary" href="{{ com.author.user_profile.get_absolute_url }}">{{ com.author }}</a> </span>
                            </div>
                            <small>{{ com.created|timesince }} назад </small>
                        </div>
                        <div class="d-flex px-5 my-1"><p class="mb-0">{{ com.body }}</p></div>
                        <div class="action d-flex justify-content-end mt-2 align-items-center"
                             style="cursor: pointer">
                            <div>
                                {% include 'core/include/like_dislike_panel.html' with comment=com %}

                            </div>
                        </div>

                    </div>
                {% endfor %}
            {% endfor %}

        </div>
    </div>
</div>
<script>
    function addReply(name, id) {
        document.getElementById('contactparent').value = id;
        document.getElementById('contactcomment').value = `${name}, `;

    }
</script>