{% extends "core/home.html" %}
{% load static %}

{% load i18n %}


{% block head_title %}Перевод китайских даньмэй-новелл {% if request.get_host == '127.0.0.1:8000' or request.get_host == 'www.privereda1.ru' %}Privereda1{% else %}Oksiji13{% endif %} | {% trans "Contacts" %}{% endblock %}

{% block content %}
    <div class="container-xxl">
        <div class="row d-flex justify-content-center mt-2">
            <div class="col-8">
                <div class="card">
                    <div class="card-header text-center">
                        <h3>Информация об организации</h3>
                    </div>
                    <div class="card-body">
                        <p>Электронная почта: privereda1blnovell@gmail.com</p>
                        <p>Наименование организации: ИП Казаева Яна Равильевна</p>
                        <p>ИНН: 471705299468</p>
                        <p>ОГРНИП: 321470400063357</p>
                        <p>Банк: СЕВЕРО-ЗАПАДНЫЙ БАНК ПАО СБЕРБАНК</p>
                        <p>БИК: 044030653</p>
                        <p>Р/с: 40802810555000125824</p>

                    </div>
                    <div class="card-footer">

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
