{% extends 'base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .checked {
            color: orange;
        }

    </style>
{% endblock %}
{% block content %}
    <div class="container-xxl">
        <div class="row my-2">
            <div class="col-12">
                <img src="{% static 'img/prints/back1.jpg' %}" class="img-fluid">
            </div>

        </div>
        <div class="row">
            <div class="col-xxl-6 col-sm-12">
                <h1 class="text-center my-1"><i class="bi bi-award text-danger"></i> Популярное</h1>
                <div class="row">
                    <div class="col-7">
                        <h2 class="mb-1">{{ pop }}</h2>
                        {% for genre in pop.genres.all %}
                            <span class="badge rounded-pill bg-primary">{{ genre }}</span>

                        {% endfor %}
                        <h5 class="text-muted">{{ pop.author }}</h5>
                        <h6>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span>{{ pop.rating }}</span>
                        </h6>
                        <p>
                            {{ pop.description }}
                        </p>
                    </div>
                    <div class="col-5">
                        <img src="{{ pop.poster.url }}" width="100%" class="rightimg">
                    </div>
                </div>

            </div>
            <div class="col-xxl-6 col-sm-12">
                <h1 class="text-center">Расписание</h1>
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row">

        </div>


    </div>


{% endblock %}