{% extends 'base.html' %}
{% load static %}
{% load user_tags %}

{% block styles %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{% static "core/home.css" %}">
    <style>
        .text-vertical {
            writing-mode: tb-rl;
            transform: rotate(360deg);
            opacity: 20%;
        }
    </style>
{% endblock %}
{% block title %}
    Домашняя страница
{% endblock %}
{% block content %}
    <div class="container-xxl" style="background:#ffffff;">

        <div class="row mb-2">

            <div id="carouselExampleCaptions" class="carousel slide carousel-fade carousel-dark px-0"
                 data-bs-ride="carousel">
                <div class="carousel-indicators">
                    {% for img in image_shots %}
                        <button type="button" data-bs-target="#carouselExampleCaptions"
                                data-bs-slide-to="{{ forloop.counter0 }}"
                                {% if forloop.counter == 1 %}class="active" aria-current="true"{% endif %}
                                aria-label="Slide {{ forloop.counter }}"></button>
                    {% endfor %}
                </div>

                <div class="carousel-inner">
                    {% for img in image_shots %}

                        <div class="carousel-item ratio ratio-21x9 {% if forloop.first %}active{% endif %}">
                            <img src="{{ img.shot.url }}" class="d-block w-100" alt="{{ img.text_primary }}">
                            <div class="carousel-caption d-none d-md-block">
                                <h4>{{ img.text_primary }}</h4>
                                <p>{{ img.text_secondary }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                        data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Предыдущий</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                        data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Следующий</span>
                </button>
            </div>


        </div>



        <div id="carouselExampleIndicators" class="carousel slide carousel-fade h-100 row mb-4" data-bs-ride="carousel">

            <div class="carousel-inner py-4">
                {% for pop in pops %}

                    <div class="carousel-item {% if forloop.first %}active{% endif %}">
                        <div class="row">

                            <div class="col-4"
                                 style="border-style: dotted; border-width: 3px; border-color: bisque; z-index: 2">


                                <img src="{{ pop.poster.url }}"
                                     class="img-fluid p-3">

                            </div>

                            <div class="col-1 m-0 p-0 d-flex">
                                <div class="text-vertical text-center h2">
                                    Выбор редакции
                                </div>
                            </div>


                            <div class="col-7 pl-0 ml-0">


                                <h1 class="mb-1">{{ pop.rus_title }}</h1>
                                {% for genre in pop.genres.all %}
                                    <span class="badge rounded-pill bg-primary"
                                          style="font-size: large">{{ genre }}</span>

                                {% endfor %}
                                <h6 class="text-muted">Автор: {{ pop.author }}</h6>
                                <h5>
                                    {% stars pop.overall_rating %}

                                    <span>{{ pop.overall_rating }}</span>
                                </h5>
                                <p class="p-2" style="font-size: larger">
                                    {{ pop.description|safe|truncatechars:400 }}
                                </p>


                            </div>


                        </div>
                    </div>
                {% endfor %}


            </div>

            <button class="btn btn-outline-dark btn-lg font-weight-bold" type="button"
                    data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="next" style="position: absolute; bottom: 0; left: 30%; width: 10%; z-index: 2000;">
                Далее
            </button>

            <div class="carousel-indicators m-0 d-flex justify-content-end" style="bottom: -5%; z-index: 1;">
                {% for pop in pops %}
                    <button data-bs-target="#carouselExampleIndicators"
                            data-bs-slide-to="{{ forloop.counter0 }}"
                            class="{% if forloop.first %}active{% endif %}" aria-current="true"
                            style="height: auto; width: 9%;">
                        <img src="{{ pop.poster.url }}" class="d-block w-100 img-thumbnail">

                    </button>
                {% endfor %}
            </div>
        </div>


        <div class="pops-novells row" style="background-color: #8bbafe;">
            <h1 class="text-center mt-1"><i class="bi bi-card-list text-primary"
                                            style="vertical-align: bottom"></i> Популярное</h1>
            <hr class="featurette-divider">


            <div class="row row-cols-2 row-cols-xxl-6 row-cols-lg-5 row-cols-md-4 row-cols-sm-3 scrolling-wrapper-flexbox mx-0 px-1 pb-3">
                {% for nov in all_novells %}
                    <div class="col px-1">
                        <div class="card p-0 mx-0 h-100">

                            <img src="{{ nov.poster.url }}" class="card-img-top img-fluid rounded p-2"
                                 alt="{{ nov.original_title }}" style="height: 65%">


                            <div class="card-body py-0">
                                <h6 class="card-title"><a href="{{ nov.get_absolute_url }}"
                                                          class="stretched-link">{{ nov.rus_title|truncatechars:35 }}</a>
                                </h6>
                                <h6 class="card-subtitle mt-1">
                                    <div class="pb-2">

                                        {% if nov.status == 'OG' %}
                                            <span class="text-muted font-weight-bold"><i
                                                    class="bi bi-circle-fill text-primary"></i> Онгоинг</span>
                                        {% elif nov.status == 'AN' %}
                                            <span class="text-muted font-weight-bold"><i
                                                    class="bi bi-circle-fill text-danger"></i> Анонос</span>
                                        {% elif nov.status == 'CT' %}
                                            <span class="text-muted font-weight-bold"><i
                                                    class="bi bi-circle-fill text-success"></i> Завершено</span>
                                        {% endif %}
                                    </div>
                                </h6>


                            </div>
                            <div class="card-footer border-0 bg-white">

                                {% stars nov.overall_rating %}


                                <span class="align-bottom">{{ nov.overall_rating }}</span>
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
        <hr class="featurette-divider">
        <h1 class="text-center"><i class="bi bi-arrow-repeat text-danger" style="vertical-align: bottom"></i> Последние
            обновления</h1>
        <div class="row">
            <div class="col-12">
                <div class="list-group">
                    {% for chapter in last_update %}
                        <div class="list-group-item list-group-item-action py-1">
                            <div class="row">
                                <div class="col-1 px-1 justify-content-center d-flex">
                                    <img src="{{ chapter.novell.poster.url }}" class="rounded w-75">

                                </div>
                                <div class="col-11">
                                    <div class="d-flex w-100 justify-content-between">
                                        <a class="mb-1 h5"
                                           href="{{ chapter.novell.get_absolute_url }}">{{ chapter.novell.rus_title }}</a>
                                        <small class="font-weight-bold">{{ chapter.created|timesince }} назад</small>
                                    </div>
                                    <p class="mb-1">
                                        <span class="font-weight-bold text-success">{% if chapter.status %}
                                            Добавлена{% else %}Анонсирована{% endif %}</span>
                                        <span>{{ chapter.number }} глава.</span>
                                        <span class="font-weight-bolder">{{ chapter.title }}</span>
                                    </p>
                                </div>

                            </div>
                        </div>
                    {% endfor %}

                </div>
            </div>
        </div>

    </div>

{% endblock %}

<!--
            <div class="col-xxl-6 col-sm-12">
                <h1 class="text-center align-text-bottom mt-1 mb-2"><i class="bi bi-table text-primary"
                                                                       style="vertical-align: bottom"></i> Расписание
                </h1>
                <hr>

                <div class="list-group">
                    {% for chapter in shedule_chapter %}
                        <div class="list-group-item list-group-item-action">
                            <div class="row">
                                <div class="col-1 px-1">
                                    <img src="{{ chapter.novell.poster.url }}" class="img-fluid rounded float-start">

                                </div>
                                <div class="col-11">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h6 class="mb-1">{{ chapter.novell.rus_title }}</h6>
                                        <small>{{ chapter.publish }}</small>
                                    </div>
                                    <p class="mb-1">{{ chapter.number }} глава. {{ chapter.title }}</p>
                                </div>

                            </div>
                        </div>
                    {% endfor %}

                </div>
            </div>

-->