{% extends 'base.html' %}
{% load static %}
{% load user_tags %}
{% block title %}
    {{ novell.rus_title }}
{% endblock %}
{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static "core/novell_profile.css" %}">
{% endblock %}

{% block content %}
    <div class="container-xxl" style="background:#ffffff;">

        <div class="row mt-2 pt-3">
            <div class="col-xxl-3 col-sm-3">
                <img src="{{ novell.poster.url }}" alt="{{ novell.original_title }}"
                     class="img-fluid w-100 rounded img-thumbnail">
            </div>
            <div class="col-xxl-9 col-sm-9">

                <div class="card border-0 h-100">
                    <div class="card-body pt-0">
                        <h1>{{ novell.rus_title }}</h1>
                        <h2>{{ novell.original_title }}</h2>
                        <h3>{{ novell.eng_title }}</h3>

                        <p class="text-muted mb-0 font-weight-bold">Автор</p>
                        <h6>{{ novell.author }}</h6>
                        <p class="text-muted mb-0 font-weight-bold">Глав</p>
                        <h6>{{ novell.chapters.count }}</h6>
                        <p class="text-muted mb-0 font-weight-bold">Статус</p>
                        {% if novell.status == 'OG' %}
                            <h6 class="font-weight-bold"><i
                                    class="bi bi-circle-fill text-primary" style="
    vertical-align: bottom;"></i> Онгоинг</h6>
                        {% elif novell.status == 'AN' %}
                            <h6 class="font-weight-bold"><i
                                    class="bi bi-circle-fill text-danger" style="
    vertical-align: bottom;"></i>
                                Анонос</h6>
                        {% elif novell.status == 'CT' %}
                            Завершено
                        {% endif %}

                        <p class="text-dark mb-0 font-weight-bold">Рейтинг</p>
                        <h6>
                            {% stars novell.overall_rating %}
                            <span class="editContent font-weight-bolder">{{ novell.overall_rating }}</span>
                        </h6>

                        {% if user.is_authenticated %}
                            <form action="{% url 'core:add_rating' %}" method="post" name="rating">
                                <p class="m-0 text-muted font-weight-bold">Ваша оценка: </p>

                                {% csrf_token %}
                                <input type="hidden" value="{{ novell.id }}" name="novell">
                                <span class="rating">
                                {% for k, v in star_form.fields.rate.choices %}
                                    <input id="rating{{ v }}" type="radio" name="rate"
                                           {% if novell|star_user:user == k %}checked{% endif %}
                                           value="{{ k }}">
                                    <label for="rating{{ v }}">{{ k }}</label>
                                {% endfor %}
                            </span>


                            </form>
                        {% else %}
                            <p class="m-0 text-muted font-weight-bold">Войдите, чтобы оценить??</p>

                        {% endif %}
                    </div>
                    <div class="card-footer border-0" style="background-color: white">
                        <div class="row w-100">
                            <div class="col">
                                <div class="d-flex justify-content-between">
                                    <button type="button" class="btn btn-info">Начать чтение</button>
                                    <button type="button" class="btn btn-dark">Продолжить чтение</button>
                                    {% if novell in user.user_profile.bookmarks.all %}
                                        <a href="{% url 'core:del_from_bookmarks' novell.id 'novell' %}" type="button"
                                           class="btn btn-outline-success">В закладках <i
                                                class="bi bi-bookmark-check-fill"></i></a>
                                    {% else %}
                                        <a href="{% url 'core:add_to_bookmarks' novell.id %}" type="button"
                                           class="btn btn-success">Добавить в закладки <i
                                                class="bi bi-bookmark-check"></i>
                                        </a>

                                    {% endif %}

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="row">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active h5" id="description-tab" data-toggle="tab" href="#description" role="tab"
                       aria-controls="home" aria-selected="true"><i class="bi bi-info"
                                                                    style="vertical-align: bottom"></i> Информация</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link h5" id="list-tab" data-toggle="tab" href="#list" role="tab"
                       aria-controls="profile" aria-selected="false"><i class="bi bi-list-ol"
                                                                        style="vertical-align: bottom"></i>
                        Оглавление</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link h5" id="comments-tab" data-toggle="tab" href="#comments" role="tab"
                       aria-controls="profile" aria-selected="false"><i class="bi bi-chat"
                                                                        style="vertical-align: bottom"></i> Отзывы</a>
                </li>
            </ul>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="tab-content profile-tab" id="myTabContent">
                    <div class="tab-pane fade show active" id="description" role="tabpanel"
                         aria-labelledby="description-tab">

                        <div class="card">
                            <div class="card-body">
                                <h3 class="mb-2">Описание</h3>
                                <p class="description">
                                    {{ novell.description|safe|linebreaksbr }}
                                </p>
                                <h3 class="mb-4">Жанры</h3>
                                {% for genre in novell.genres.all %}
                                    <button type="button" class="btn btn-outline-primary">
                                        {{ genre }}
                                    </button>
                                {% endfor %}
                            </div>
                        </div>

                        <hr>
                        <div class="card">
                            <h3>Последнее обновление:</h3>

                        </div>
                    </div>

                    <div class="tab-pane fade" id="list" role="tabpanel" aria-labelledby="list-tab">
                        <div class="list-group mt-2">

                            {% for n in novell.chapters.all %}
                                <a href="{{ n.get_absolute_url }}"
                                   class="list-group-item list-group-item-action
{% if not n.status %}list-group-item-warning disabled{% else %}list-group-item-success{% endif %}">
                                    <div class="d-flex justify-content-between">
                                        <span class="h5">
                                            Глава {{ n.number }}. {{ n.title }}
                                            {% if not n.status %}
                                                <span class="small">
                                                <i class="bi bi-circle-fill text-danger"
                                                   style="vertical-align: bottom;"></i>
                                                Анонос
                                                </span>
                                            {% endif %}
                                        </span>
                                        <span class="text-muted"><small>{{ n.publish|date }}</small></span>
                                    </div>

                                </a>



                            {% endfor %}
                        </div>
                    </div>

                    <div class="tab-pane fade" id="comments" role="tabpanel" aria-labelledby="comments-tab">
                        <h1>Отзывы</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="{% static "core/js/star_rating.js" %}"></script>

{% endblock %}