{% extends 'base.html' %}
{% load static %}
{% load user_tags %}
{% block title %}
    Перевод китайских BL-новелл Privereda1 | {{ novell.rus_title }}
{% endblock %}
{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static "core/novell_profile.css" %}">
    <style>
        .review-text {
            background-image: linear-gradient(to bottom, rgba(147, 159, 176, 0), #fff);
        }

        .review-text p {
            margin-bottom: 2px;
        }

        .spoiler {
            height: 100px;
            overflow: hidden;
        }

        .my-nav-tabs {
            color: #123D6A;
        }


        .my-nav-tabs.active {
            color: #5FAAF5 !important;

        }

        .write-review {
            background-color: rgba(171, 59, 97, 0.75);
        }

        .write-review:hover {
            background-color: rgb(196, 69, 113);
        }

        .written-review {
            background-color: rgba(18, 61, 106, 0.75);
        }

        .ratio-3х4 {
            --aspect-ratio: calc(4 / 3 * 100%);
        }

        .my-buttons .btn {
            margin-left: 10px;
        }

        .dropdown-menu .favorites-in {
            background-color: #befcbe;
        }

        /*
                .favorites-in:hover, .favorites-in:focus {
                    background-color: #acffac;
                }

                .dropdown-menu .favorites-out {
                    background-color: #f64372;
                }

                .favorites-out:hover, .favorites-out:focus {
                    background-color: #ffc1cb;
                }

                .dropdown-item:focus, .dropdown-item:hover {
                    background-color: inherit;
                }

         */

        .btn-genre {
            border-color: #123d6a;
            color: #123d6a;
        }

        .btn-genre:hover {
            background-color: #123d6a;
            border-color: #123d6a;
            color: beige;
        }

        .link-login-modal {
            color: rgba(171, 59, 97, 0.75);
        }

        .link-login-modal:hover {
            color: rgba(167, 0, 70, 0.75);
        }

        .rev-author a {
            color: #123d6a;
        }

        .rev-author a:hover {
            color: #2e96ff;
        }
    </style>
{% endblock %}

{% block scripts %}
    <script src="https://cdn.tiny.cloud/1/ucih7y6bf15dmnxjth5y7vhpwc29y07p91usg9pjqivrf2p1/tinymce/5/tinymce.min.js"
            referrerpolicy="origin"></script>
    <script type="text/javascript" src='{% static "core/js/like-dislike.js" %}'></script>

{% endblock %}

{% block content %}
    <div class="container-xxl" style="background:#ffffff;">

        <div class="row mt-2 pt-3 justify-content-center">
            <div class="col-xxl-4 col-md-4 col-md-5 col-sm-10 pr-3 pr-sm-0">
                <div class="ratio ratio-3х4">

                    <img src="{{ novell.poster.url }}" alt="{{ novell.original_title }}"
                         class="rounded img-thumbnail">
                </div>
            </div>
            <div class="col-xxl-8 col-md-7 col-sm-12">

                <div class="card border-0 h-100">
                    <div class="card-body pt-0">
                        <h2>{{ novell.rus_title }}</h2>
                        <h3>{{ novell.original_title }}</h3>
                        {% if novell.eng_title %}
                            <h4>{{ novell.eng_title }}</h4>
                        {% endif %}

                        <p class="text-muted mb-0 mt-4 font-weight-bold">Автор: <span
                                class="font-weight-bold text-dark">{{ novell.author }}</span></p>

                        <p class="text-muted mb-0 font-weight-bold">Количество глав: <span
                                class="font-weight-bold text-dark">{% if novell.chapter_count %}
                            {{ novell.chapter_count }}{% else %}???{% endif %}</span></p>
                        <p class="text-muted mb-0 font-weight-bold">Переведено глав: <span
                                class="font-weight-bold text-dark">{{ novell.chapters.count }}</span></p>
                        <p class="text-muted mb-0 font-weight-bold">Статус новеллы:
                            {% if novell.status == 'OG' %}
                                <span class="font-weight-bold text-dark"><i
                                        class="bi bi-circle-fill text-primary" style="
    vertical-align: text-top; font-size: 11pt;"></i> Продолжается</span>
                            {% elif novell.status == 'AN' %}
                                <span class="font-weight-bold text-dark"><i
                                        class="bi bi-circle-fill text-danger" style="
    vertical-align: bottom;"></i>
                                    Запланирован</span>
                            {% elif novell.status == 'CT' %}
                                <span class="font-weight-bold text-dark">Завершен</span>
                            {% endif %}
                        </p>
                        <p class="text-muted mb-0 font-weight-bold">Состояние перевода:
                            {% if not novell.translate_status %}
                                <span class="font-weight-bold text-dark"><i
                                        class="bi bi-circle-fill text-primary" style="
    vertical-align: text-top; font-size: 11pt;"></i> В процессе</span>
                            {% else %}
                                <span class="font-weight-bold text-dark">Завершен</span>
                            {% endif %}
                        </p>
                        <p class="text-muted mb-0 font-weight-bold">Рейтинг:
                            <span class="h6">
                            {% stars novell.overall_rating %}
                            <span class="editContent font-weight-bolder text-dark">{{ novell.overall_rating }}</span>
                        </span>
                        </p>

                        <h5 class="my-2 text-dark">Жанры</h5>
                        {% for genre in novell.genres.all %}
                            <a type="button" class="btn btn-genre m-1"
                               href="{% url 'core:filter' %}?genre={{ genre.id }}">
                                {{ genre }}
                            </a>
                        {% endfor %}

                        {% if user.is_authenticated %}
                            <form action="{% url 'core:add_rating' %}" class="mt-2" method="post" name="rating">
                                <p class="m-0 text-muted font-weight-bold">Ваша оценка: </p>

                                {% csrf_token %}
                                <input type="hidden" value="{{ novell.id }}" name="novell">
                                <span class="rating">
                                {% for k, v in star_form.fields.rate.choices %}
                                    <input id="rating{{ v }}" type="radio" name="rate"
                                           {% if novell|star_user:user == k %}checked{% endif %}
                                           value="{{ k }}">
                                    <label for="rating{{ v }}" style="cursor: pointer;">{{ k }}</label>
                                {% endfor %}
                            </span>


                            </form>
                        {% else %}
                            <p class="text-muted font-weight-bold mt-2">
                                <a data-toggle="modal" data-target="#loginModal"
                                   aria-expanded="false" class="link-login-modal"
                                   style="cursor: pointer; text-decoration: none;">
                                    Войдите</a>, чтобы оценить</p>

                        {% endif %}
                    </div>
                    <div class="card-footer border-0" style="background-color: white">
                        <div class="row w-100">
                            <div class="col">
                                <div class="d-flex justify-content-start my-buttons">
                                    {% if user.is_authenticated %}
                                        {% if user|novell_unread:novell %}
                                            {% if novell|first_chapter_link == 0 %}
                                                <button type="button" class="btn btn-outline-secondary disabled">
                                                    Пока нет глав
                                                    <i class="bi bi-x-octagon text-danger"></i>
                                                </button>
                                            {% else %}
                                                <a type="button"
                                                   class="btn btn-outline-light border-0"
                                                   href="{% url 'core:chapter_detail' novell.slug novell|first_chapter_link %}"
                                                   style="background-color: rgba(171,59,97,0.75)">Начать
                                                    читать</a>
                                            {% endif %}
                                        {% elif user|novell_readed:novell %}
                                            <button type="button" class="btn btn-outline-secondary disabled">Прочитано
                                                <i class="bi bi-patch-check text-success"></i>
                                            </button>
                                        {% else %}
                                            <a type="button" class="btn btn-outline-light border-0"
                                               href="{% url 'core:chapter_detail' novell.slug user|last_unread_chapter:novell %}"
                                               style="background-color: #123d6a;">Продолжить
                                                чтение</a>
                                        {% endif %}
                                    {% else %}
                                        {% if novell|first_chapter_link == 0 %}
                                            <button type="button" class="btn btn-outline-secondary disabled">
                                                Пока нет глав
                                                <i class="bi bi-x-octagon text-danger"></i>
                                            </button>
                                        {% else %}
                                            <a type="button"
                                               class="btn btn-outline-light border-0"
                                               href="{% url 'core:chapter_detail' novell.slug novell|first_chapter_link %}"
                                               style="background-color: rgba(171,59,97,0.75)">
                                                <span>Начать читать</span>
                                            </a>
                                        {% endif %}

                                    {% endif %}
                                    {% if user.is_authenticated %}

                                        <!--
                                        {#% if novell in user.user_profile.bookmarks.all %#}
                                            <a href="{% url 'core:del_from_bookmarks' novell.id 'bookmark' 'novell' %}"
                                               type="button"
                                               class="btn btn-outline-warning">В избранном <i
                                                    class="bi bi-x-square-fill text-danger"></i>
                                            </a>
                                        {#% elif novell in user.user_profile.planned.all %#}
                                            <a href="{% url 'core:del_from_bookmarks' novell.id 'planned' 'novell' %}"
                                               type="button"
                                               class="btn btn-outline-secondary">Запланированно <i
                                                    class="bi bi-x-square-fill text-danger"></i>
                                            </a>
                                        {#% else %#}
-->
                                        <button class="btn btn-outline-light border-0 dropdown-toggle" type="button"
                                                data-bs-toggle="dropdown" aria-expanded="false"
                                                style="background-color: rgba(18,61,106,0.75)">
                                            <i class="bi bi-bookmark-check-fill text-white"></i> Добавить в
                                        </button>
                                        <ul class="dropdown-menu">
                                            {% if novell in user.user_profile.bookmarks.all %}
                                                <li class="favorites-in">


                                                    <a class="dropdown-item"
                                                       href="{% url 'core:del_from_bookmarks' novell.id 'bookmark' 'novell' %}">
                                                        <div class="d-flex justify-content-between">
                                                            <span>Избранное</span>
                                                            <i class="bi bi-bookmark-star text-warning"></i>
                                                        </div>
                                                    </a>

                                                </li>
                                            {% else %}
                                                <li class="favorites-out">
                                                    <a class="dropdown-item"
                                                       href="{% url 'core:add_to_bookmarks' novell.id 'bookmark' %}">
                                                        <div class="d-flex justify-content-between">
                                                            <span>Избранное</span>
                                                            <i class="bi bi-bookmark-star text-warning"></i>
                                                        </div>
                                                    </a>

                                                </li>
                                            {% endif %}
                                            {% if novell in user.user_profile.planned.all %}

                                                <li class="favorites-in">
                                                    <a class="dropdown-item"
                                                       href="{% url 'core:del_from_bookmarks' novell.id 'planned' 'novell' %}">
                                                        <div class="d-flex justify-content-between">
                                                            <span class="mr-2">Запланированное</span>
                                                            <i class="bi bi-calendar-event text-primary"></i>

                                                        </div>
                                                    </a>
                                                </li>
                                            {% else %}
                                                <li class="favorites-out">
                                                    <a class="dropdown-item"
                                                       href="{% url 'core:add_to_bookmarks' novell.id 'planned' %}">
                                                        <div class="d-flex justify-content-between">
                                                            <span class="mr-2">Запланированное</span>
                                                            <i class="bi bi-calendar-event text-primary"></i>
                                                        </div>
                                                    </a>

                                                </li>
                                            {% endif %}

                                            {% if novell in user.user_profile.readed.all %}
                                                <li class="favorites-in">
                                                    <a class="dropdown-item"
                                                       href="{% url 'core:del_from_bookmarks' novell.id 'readed' 'novell' %}">
                                                        <div class="d-flex justify-content-between">
                                                            <span>Прочитано</span>
                                                            <i class="bi bi-check-circle-fill text-success"></i>
                                                        </div>
                                                    </a>
                                                </li>

                                                <li class="disabled">
                                                    <a class="dropdown-item disabled"
                                                       href="#">
                                                        <div class="d-flex justify-content-between">
                                                            <span>Читаю</span>
                                                            <i class="bi bi-book-fill"></i>
                                                        </div>
                                                    </a>
                                                </li>
                                            {% elif novell in user.user_profile.in_process_reading.all %}
                                                <li class="disabled">
                                                    <a class="dropdown-item disabled"
                                                       href="#">
                                                        <div class="d-flex justify-content-between">
                                                            <span>Прочитано</span>
                                                            <i class="bi bi-check-circle-fill text-success"></i>
                                                        </div>
                                                    </a>
                                                </li>

                                                <li class="favorites-in">
                                                    <a class="dropdown-item"
                                                       href="{% url 'core:del_from_bookmarks' novell.id 'reading' 'novell' %}">
                                                        <div class="d-flex justify-content-between">
                                                            <span>Читаю</span>
                                                            <i class="bi bi-book-fill"></i>
                                                        </div>
                                                    </a>
                                                </li>
                                            {% else %}
                                                <li>
                                                    <a class="dropdown-item"
                                                       href="{% url 'core:add_to_bookmarks' novell.id 'readed' %}">
                                                        <div class="d-flex justify-content-between">
                                                            <span>Прочитано</span>
                                                            <i class="bi bi-check-circle-fill text-success"></i>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="dropdown-item"
                                                       href="{% url 'core:add_to_bookmarks' novell.id 'reading' %}">
                                                        <div class="d-flex justify-content-between">
                                                            <span>Читаю</span>
                                                            <i class="bi bi-book-fill"></i>
                                                        </div>
                                                    </a>
                                                </li>
                                            {% endif %}

                                        </ul>

                                    {% else %}
                                        <a class="btn btn-outline-light border-0 dropdown-toggle" data-toggle="modal"
                                           data-target="#loginModal" type="button" aria-expanded="false"
                                           style="background-color: rgba(18,61,106,0.75)">
                                            <i class="bi bi-bookmark-check-fill link-light"></i> Добавить в
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="row">
            <ul class="nav nav-tabs ml-0" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link my-nav-tabs active h5" id="description-tab" data-toggle="tab" href="#description"
                       role="tab"
                       aria-controls="home" aria-selected="true"><i class="bi bi-info"
                                                                    style="vertical-align: bottom"></i> Информация</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link h5 my-nav-tabs" id="list-tab" data-toggle="tab" href="#list" role="tab"
                       aria-controls="profile" aria-selected="false"><i class="bi bi-list-ol"
                                                                        style="vertical-align: bottom"></i>
                        Оглавление</a>
                </li>
                <li class="nav-item my-nav-tabs">
                    <a class="nav-link h5 my-nav-tabs" id="comments-tab" data-toggle="tab" href="#comments" role="tab"
                       aria-controls="profile" aria-selected="false"><i class="bi bi-chat"
                                                                        style="vertical-align: bottom"></i> <span
                            style="vertical-align: bottom;">Отзывы</span>
                        <span class="badge rounded-pill"
                              style="background-color: rgba(187,178,181,0.75); vertical-align: bottom;">
                        {{ novell.reviews_to_novell.count }}
                    </span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="tab-content profile-tab" id="myTabContent">
                    <div class="tab-pane fade show active" id="description" role="tabpanel"
                         aria-labelledby="description-tab">

                        <div class="card mt-2">
                            <div class="card-body">
                                <h3 class="mb-2">Описание</h3>
                                <p class="description">
                                    {{ novell.description|safe|linebreaksbr }}
                                </p>

                            </div>
                        </div>


                    </div>

                    <div class="tab-pane fade" id="list" role="tabpanel" aria-labelledby="list-tab">
                        <div class="list-group mt-2">

                            {% for n in novell.chapters.all %}


                                    <!-- Всплывающее окно покупки главы -->
                                    <div class="modal fade" id="buychapterModal{{ n.id }}">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h4 class="modal-title">Хотите приобрести главу?</h4>
                                                    <button type="button" class="close" data-dismiss="modal">×</button>
                                                </div>
                                                <div class="modal-body">
                                                    <p>С Вашего баланса будет списано {{ n.cost|floatformat:2 }} ₽</p>
                                                </div>
                                                <div class="modal-footer">
                                                    <form method="post" action="{% url 'core:buy_chapter' n.id %}">
                                                        {% csrf_token %}
                                                        <button type="submit" class="btn btn-primary">Да</button>
                                                    </form>
                                                    <button type="button" class="btn btn-danger" data-dismiss="modal">
                                                        Нет
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                <a
                                        {% if n.premium and user.is_authenticated and n in user.user_profile.buyed_chapters.all or not n.premium %}
                                            href="{{ n.get_absolute_url }}"
                                        {% elif not user.is_authenticated %}
                                            data-toggle="modal" data-target="#loginModal" style="cursor: pointer;"
                                        {% else %}
                                            data-toggle="modal" data-target="#buychapterModal{{ n.id }}"
                                            style="cursor: pointer;"
                                        {% endif %}
                                            class="list-group-item list-group-item-action
                                    {% if not n.status %}list-group-item-danger disabled{% elif user.is_authenticated and n in user.user_profile.chapter_readed.all %}
                                    list-group-item-light
                                    {% else %}list-group-item-secondary{% endif %}">

                                    <div class="d-flex justify-content-between">
                                        <span class="h5 mb-0">
                                            {% if n.premium %}
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                     fill="currentColor" class="bi bi-coin"
                                                     viewBox="0 0 16 16">
                                                    <path d="M4 10.781c.148 1.667 1.513 2.85 3.591 3.003V15h1.043v-1.216c2.27-.179 3.678-1.438 3.678-3.3 0-1.59-.947-2.51-2.956-3.028l-.722-.187V3.467c1.122.11 1.879.714 2.07 1.616h1.47c-.166-1.6-1.54-2.748-3.54-2.875V1H7.591v1.233c-1.939.23-3.27 1.472-3.27 3.156 0 1.454.966 2.483 2.661 2.917l.61.162v4.031c-1.149-.17-1.94-.8-2.131-1.718H4zm3.391-3.836c-1.043-.263-1.6-.825-1.6-1.616 0-.944.704-1.641 1.8-1.828v3.495l-.2-.05zm1.591 1.872c1.287.323 1.852.859 1.852 1.769 0 1.097-.826 1.828-2.2 1.939V8.73l.348.086z"/>
                                                </svg>
                                            {% endif %}
                                            {{ n.title }}
                                            {% if user.is_authenticated and n in user.user_profile.chapter_readed.all %}
                                                <i class="bi bi-check2-square"></i>
                                            {% endif %}
                                            {% if not n.status %}
                                                <span class="small">
                                                <i class="bi bi-circle-fill text-danger"
                                                   style="vertical-align: bottom;"></i>
                                                Анонос
                                                </span>
                                            {% endif %}


                                            {% if n.premium %}
                                                <span class="small">
                                                {{ n.cost|floatformat:2 }} ₽
                                                </span>
                                            {% endif %}

                                        </span>

                                        <span class="text-muted"><small>{{ n.publish|date }}</small></span>
                                    </div>


                                </a>



                            {% endfor %}
                        </div>
                    </div>

                    <div class="tab-pane fade" id="comments" role="tabpanel" aria-labelledby="comments-tab">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-11">
                                    {% if novell.reviews_to_novell.count == 0 %}
                                        <div class="card my-3 py-3">
                                            <div class="h4 text-center my-2">Здесь пока нет отзывов к новелле
                                                «{{ novell }}»,
                                                хотите написать?
                                            </div>
                                            <div class="text-center">
                                                {% if user.is_authenticated %}
                                                    <span class="btn btn-outline-light border-0 write-review"
                                                          style="cursor: pointer;"
                                                          data-bs-toggle="modal"
                                                          data-bs-target="#reviewModal">
                                                    <i class="bi bi-pencil"></i>
                                                    Написать отзыв
                                                </span>
                                                {% else %}
                                                    <span class="btn btn-outline-light border-0 write-review"
                                                          style="cursor: pointer;"
                                                          data-toggle="modal" data-target="#loginModal">
                                                    <i class="bi bi-pencil"></i>
                                                    Написать отзыв
                                                </span>
                                                {% endif %}
                                            </div>

                                        </div>
                                    {% else %}
                                        <div class="d-flex justify-content-between mt-3">
                                            <div><span class="h3"> Отзывы к новелле</span> <span
                                                    class="small"
                                                    style="vertical-align: top;">{{ novell.reviews_to_novell.count }}</span>
                                            </div>
                                            <div class="text-center">
                                                {% if user.is_authenticated and not user|user_already_rate:novell %}
                                                    <span class="btn btn-outline-light border-0 write-review"
                                                          style="cursor: pointer;"
                                                          data-bs-toggle="modal"
                                                          data-bs-target="#reviewModal">
                                                    <i class="bi bi-pencil"></i>
                                                    Написать отзыв
                                                </span>
                                                {% elif not user.is_authenticated %}
                                                    <span class="btn btn-outline-light border-0 write-review"
                                                          style="cursor: pointer;"
                                                          data-toggle="modal" data-target="#loginModal">
                                                    <i class="bi bi-pencil"></i>
                                                    Написать отзыв
                                                </span>
                                                {% elif user|user_already_rate:novell %}
                                                    <span class="btn written-review text-white disabled"
                                                          style="cursor: pointer;"
                                                          data-bs-toggle="modal"
                                                          data-bs-target="#reviewModal">
                                                    <i class="bi bi-pencil"></i>
                                                    Вы уже оставили отзыв
                                                </span>
                                                {% endif %}
                                            </div>
                                        </div>
                                        {% for rev in novell.reviews_to_novell.all %}
                                            <div class="card my-3">
                                                <div class="card-header">
                                                    <div class="d-flex">
                                                        <div class="flex-shrink-0 py-3 mr-3">
                                                            <img src="{{ rev.author.user_profile.avatar.url }}"
                                                                 alt="{{ rev.author }}" width="60" height="60"
                                                                 style="border-radius: 50%;">
                                                        </div>
                                                        <div class="flex-grow-1 ms-3">
                                                            <p class="my-0 h6">{{ rev.title }}</p>
                                                            <p class="my-0">{% stars novell|star_user:rev.author %}</p>
                                                            <p class="my-0 rev-author"><a
                                                                    href="{{ rev.author.user_profile.get_absolute_url }}">{{ rev.author }}</a>
                                                            </p>
                                                            <p class="small my-0">{{ rev.created|date }}</p>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="card-body review-text">
                                                    {{ rev.body|safe }}
                                                    <!--
                                                    <div class="d-flex justify-content-center">
                                                        <button class="show-hide button btn btn-light">Показать всё
                                                        </button>
                                                    </div>
                                                       -->
                                                </div>

                                                <div class="card-footer">
                                                    Понравился отзыв?

                                                    {% include 'core/include/like_dislike_panel_for_review.html' %}
                                                </div>
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="modal fade" id="reviewModal" tabindex="-1" aria-labelledby="reviewModalLabel"
                                 aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="reviewModalLabel">Отзыв к {{ novell }}</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                        </div>
                                        <form method="POST" id="add-review">
                                            <div class="modal-body">

                                                {% csrf_token %}

                                                <div class="mb-3">
                                                    <label for="recipient-name"
                                                           class="col-form-label">Заголовок:</label>
                                                    <input type="text" class="form-control" name="title" required>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="message-text" class="col-form-label">Отзыв:</label>
                                                    <textarea class="form-control" name="body"></textarea>
                                                </div>

                                            </div>
                                            <div class="modal-footer">
                                                <input type="submit"
                                                       class="btn btn-outline-light" value="Оставить отзыв"
                                                       style="background-color: #ab3b61;">

                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>


    <script type="text/javascript" src="{% static "core/js/star_rating.js" %}"></script>

    <script>
        tinymce.init({
            selector: 'textarea',
            menubar: false,
            height: 500,
            plugins: [
                'advlist autolink lists link image charmap print preview anchor',
                'searchreplace visualblocks code fullscreen',
                'insertdatetime media table paste code help wordcount'
            ],
            toolbar: 'bold italic backcolor',
            content_style: 'body { font-family:Helvetica,Arial,sans-serif; font-size:14px }'
        });

        // Returns text statistics for the specified editor by id


    </script>
    <script>

        function submitForm() {
            // Check if the user has entered less than 1000 characters
            if (getStats('textarea').chars < 1000) {
                alert("You need to enter 1000 characters or more.");
                return;
            }

            // Check if the user has entered less than 100 words
            if (getStats('textarea').words < 100) {
                alert("You need to enter 100 words or more.");
                return;
            }

            // Submit the form
            document.forms[0].submit();
        }


        function getStats(id) {
            var body = tinymce.get(id).getBody(), text = tinymce.trim(body.innerText || body.textContent);

            return {
                chars: text.length,
                words: text.split(/[\w\u2019\'-]+/).length
            };
        }
    </script>
    <script>
        var halfText = $('.spoiler').innerHeight() / 2,
            textHeight = $('.spoiler').innerHeight();

        $('.spoiler').css('height', $('.spoiler').innerHeight() / 2);

        $('.show-hide').click(function () {
            if ($('.spoiler').innerHeight() == halfText) {
                $('.spoiler').animate({height: textHeight}, 500);
                $(this).text('Скрыть');
            } else {
                $('.spoiler').animate({height: halfText}, 500);
                $(this).text('Показать');
            }
        });
    </script>
    <script>
        $('#add-review').submit(function () {
            $(this).find(':input[type=submit]').prop('disabled', true);
        });
    </script>
{% endblock %}