{% extends 'core/home.html' %}
{% block title %}Все новеллы{% endblock title %}
{% block content %}
    <div class="container-xxl bg-white h-100">
        <div class="row">
            <div class="p-3 bg-white col-2 px-1">
                <div class="card">
                    <div class="card-group-item">
                        <form action="{% url 'core:filter' %}" method="get">

                            <div class="filter-content">

                                <div class="card-header">
                                    <h5 class="title">Жанры </h5>
                                </div>
                                <div class="card-body">
                                    {% for genre in view.get_genres %}
                                        <label class="form-check">
                                            <input class="form-check-input" type="checkbox" name="genre"
                                                   value="{{ genre.id }}">
                                            <span class="form-check-label">
				                                {{ genre }}
				                            </span>
                                        </label> <!-- form-check.// -->
                                    {% endfor %}


                                </div> <!-- card-body.// -->
                                <div class="card-header">
                                    <h5 class="title">Опубликовано </h5>
                                </div>
                                <div class="card-body">

                                    {% for year in view.get_year %}
                                        <label class="form-check">
                                            <input class="form-check-input" type="checkbox" name="year" value="{{ year.0 }}">
                                            <span class="form-check-label">
				                                {{ year.0 }}
				                            </span>
                                        </label> <!-- form-check.// -->
                                    {% endfor %}


                                </div> <!-- card-body.// -->
                                <div class="card-footer">
                                    <button type="submit" class="button btn btn-success btn-block">Найти</button>
                                </div>
                            </div>
                        </form>
                    </div> <!-- card-group-item.// -->

                </div>
            </div>
            <div class="col-10">
                <div class="container">
                    <div class="row row-cols-1 row-cols-xxl-5 row-cols-lg-4 row-cols-md-3 mt-1">

                        {% for nov in novells %}
                            <div class="card d-flex col border-0 mt-1">
                                <div class="card-img-top">
                                    <a href="{{ nov.get_absolute_url }}">
                                        <img src="{{ nov.poster.url }}" class="card-img-top rounded"
                                             alt="{{ nov.original_title }}">
                                    </a>
                                </div>
                                <div class="card-body">

                                    <h6 class="card-title mt-1">
                                        <div class="pb-2">
                                            <span class="bi bi-star-fill checked align-bottom"></span>
                                            <span class="bi bi-star-fill checked"></span>
                                            <span class="bi bi-star-fill checked"></span>

                                            <span class="bi bi-star-half checked"></span>
                                            <span class="bi bi-star checked"></span>

                                            <span class="align-bottom">{{ nov.rating }}</span>
                                        </div>
                                    </h6>
                                    <h6 class="card-subtitle"><a
                                            href="{{ nov.get_absolute_url }}">{{ nov.original_title }}</a>
                                    </h6>

                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}