{% extends 'core/home.html' %}
{% load static %}
{% load user_tags %}
{% block title %}
    Перевод китайских BL-новелл Privereda1 | Каталог новелл
{% endblock title %}
{% block styles %}
    <style>
        .ratio-3х4 {
            --aspect-ratio: calc(4 / 3 * 100%);
        }

        .checked {
            color: orange;
            vertical-align: top;
        }

        .btn-no-matter {
            border-color: #bbb2b5;
            color: #bbb2b5;
        }


        .btn-no-matter:hover {
            background-color: #bbb2b5;
            border-color: #bbb2b5;
            color: white;
        }


        .btn-check:active + .btn-no-matter, .btn-check:checked + .btn-no-matter, .btn-no-matter.active, .btn-no-matter.dropdown-toggle.show, .btn-no-matter:active {
            background-color: #bbb2b5;
            border-color: #bbb2b5;
            color: white;
        }

        .btn-in-progress {
            border-color: #123d6a;
            color: black;
        }


        .btn-in-progress:hover {
            background-color: #123d6a;
            border-color: #123d6a;
            color: white;
        }


        .btn-check:active + .btn-in-progress, .btn-check:checked + .btn-in-progress, .btn-in-progress.active, .btn-in-progress.dropdown-toggle.show, .btn-in-progressr:active {
            background-color: #123d6a;
            border-color: #123d6a;
            color: white;
        }

        .btn-finished {
            border-color: #ab3b61;
            color: #ab3b61;
        }


        .btn-finished:hover {
            background-color: #ab3b61;
            border-color: #ab3b61;
            color: white;
        }


        .btn-check:active + .btn-finished, .btn-check:checked + .btn-finished, .btn-in-progress.active, .btn-finished.dropdown-toggle.show, .btn-finished:active {
            background-color: #ab3b61;
            border-color: #ab3b61;
            color: white;
        }

        .form-check-input:checked {
            background-color: #123d6a;
            border-color: #123d6a;
        }

        a {
            color: #123d6a;
            text-decoration: underline;
        }

    </style>
{% endblock %}
{% block scripts %}
    <script>
        $(document).ready(function () {

            const $valueSpan = $('.valueSpan');
            const $value = $('#slider11');
            $valueSpan.html($value.val());
            $value.on('input change', () => {

                $valueSpan.html($value.val());
            });
        });
    </script>
    <script>
        function ChangeText(Element) {
            if (Element.innerHTML == '<i class="fa fa-chevron-down"></i> Показать') Element.innerHTML = '<i class="fa fa-chevron-up"></i> Скрыть';
            else Element.innerHTML = '<i class="fa fa-chevron-down"></i> Показать';
        }
    </script>
{% endblock %}
{% block content %}
    <div class="container-xxl bg-white">
        <div class="row">
            <div class="p-3 bg-white col-lg-2 col-md-3 col-sm-4 col-6 px-1">
                <div class="card">
                    <div class="card-group-item">
                        <form action="{% url 'core:json_filter' %}" method="get" name="filter">

                            <div class="filter-content">

                                <div class="card-header">

                                    <div class="d-flex justify-content-between">
                                        <h5 class="title">Жанры </h5>
                                        <a class="link-dark" data-bs-toggle="collapse"
                                           href="#collapseExample"
                                           role="button" aria-expanded="true"
                                           aria-controls="collapseExample">
                                        <span class="small" style="font-size: 8pt;" onclick="ChangeText(this)"><i
                                                class="fa fa-chevron-up"></i> Cкрыть</span>
                                        </a>
                                    </div>

                                </div>
                                <div class="collapse show" id="collapseExample">

                                    <div class="card-body">
                                        {% for genre in view.get_genres %}
                                            <label class="form-check">
                                                <input class="form-check-input" type="checkbox" name="genre"
                                                       value="{{ genre.id }}">
                                                <span class="form-check-label">
				                                {{ genre }}
				                            </span>
                                            </label> <!-- form-check.// -->
                                        {% endfor %}

                                    </div> <!-- card-body.// -->
                                </div>

                                <!--
                                <div class="card-header">
                                    <h5 class="title">Опубликовано </h5>
                                </div>
                                <div class="card-body">

                                    {% for year in view.get_year %}
                                        <label class="form-check">
                                            <input class="form-check-input" type="checkbox" name="year"
                                                   value="{{ year.0 }}">
                                            <span class="form-check-label">
				                                {{ year.0 }}
				                            </span>
                                        </label>
                                    {% endfor %}
                                </div>
-->

                                <div class="card-header">
                                    <h5 class="title">Оценка от</h5>
                                </div>
                                <div class="card-body">
                                    <div class="d-flex justify-content-between ml-4 w-75">
                                        <span class="bi bi-star-fill checked mr-1"></span>
                                        <span class="bi bi-star-fill checked mr-1"></span>
                                        <span class="bi bi-star-fill checked mr-1"></span>
                                        <span class="bi bi-star-fill checked mr-1"></span>
                                        <span class="bi bi-star-fill checked mr-1"></span>

                                    </div>
                                    <div class="d-flex justify-content-center">

                                        <input id="slider11" class="border-0" value="0" name="rating" type="range"
                                               min="0"
                                               max="5"/>

                                        <span class="font-weight-bold text-primary ml-2 mt-1 valueSpan"></span>
                                    </div>
                                </div>

                                <div class="card-header">
                                    <h5 class="title">Глав всего</h5>
                                </div>
                                <div class="card-body">
                                    <div class="d-flex justify-content-between">
                                        <div class="my-class">
                                            <input type="text" class="form-control" placeholder="От"
                                                   aria-label="От" name="chapter-min">
                                        </div>

                                        <span style="vertical-align: bottom;" class="mx-2">_</span>

                                        <div class="my-class">
                                            <input type="text" class="form-control" placeholder="До"
                                                   aria-label="До" name="chapter-max">
                                        </div>
                                    </div>
                                </div> <!-- card-body.// -->


                                <div class="card-header">
                                    <h5 class="title">Статус новеллы</h5>
                                </div>
                                <div class="card-body text-center">
                                    <div class="btn-group-vertical" role="group"
                                         aria-label="Basic radio toggle button group">
                                        <input type="radio" class="btn-check" name="novell-trans-status" value="None"
                                               id="btnradio0"
                                               autocomplete="off" checked>
                                        <label class="btn btn-no-matter" for="btnradio0">Не важно</label>

                                        <input type="radio" class="btn-check" name="novell-trans-status" value="OG"
                                               id="btnradio2"
                                               autocomplete="off">
                                        <label class="btn btn-in-progress" for="btnradio2">В процессе</label>

                                        <input type="radio" class="btn-check" name="novell-trans-status" value="CT"
                                               id="btnradio3"
                                               autocomplete="off">
                                        <label class="btn btn-finished" for="btnradio3">Завершён</label>

                                    </div>
                                </div> <!-- card-body.// -->

                                <div class="card-header">
                                    <h5 class="title">Статус перевода</h5>
                                </div>
                                <div class="card-body text-center">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="translate-status"
                                               id="flexRadioDefault1" value="None" checked>
                                        <label class="form-check-label" for="flexRadioDefault1">
                                            Не важно
                                        </label>
                                    </div>

                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" value="yes" name="translate-status"
                                               id="flexRadioDefault2">
                                        <label class="form-check-label" for="flexRadioDefault2">
                                            Завершён
                                        </label>
                                    </div>

                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" value="no" name="translate-status"
                                               id="flexRadioDefault3">
                                        <label class="form-check-label" for="flexRadioDefault3">
                                            В процессе
                                        </label>
                                    </div>

                                </div>

                                <div class="card-footer">
                                    <button type="submit" class="button btn btn-outline-light btn-block"
                                            style="background-color: rgba(171,59,97,0.75);">Найти
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div> <!-- card-group-item.// -->

                </div>
            </div>
            <div class="col-lg-10 col-md-9 col-sm-8 col-6 px-lg-3 px-1 pt-2 pt-sm-2">
                <div class="container left-ads-display px-lg-1 px-1">
                    <div class="row row-cols-1 row-cols-xxl-5 row-cols-lg-4 row-cols-md-3 mt-1">

                        {% for nov in novells %}
                            <div class="card d-flex col border-0 mt-1">
                                <div class="card-img-top">
                                    <a href="{{ nov.get_absolute_url }}">
                                        <div class="ratio-3х4 ratio">
                                            <img src="{{ nov.poster.url }}" class="w-100 rounded"
                                                 alt="{{ nov.rus_title }}">
                                        </div>
                                    </a>
                                </div>
                                <div class="card-body">

                                    <h6 class="card-title mt-1">
                                        <div class="pb-2">
                                            {% stars nov.overall_rating %}


                                            <span class="align-bottom">{{ nov.overall_rating }}</span>
                                        </div>
                                    </h6>
                                    <h6 class="card-subtitle"><a
                                            href="{{ nov.get_absolute_url }}">{{ nov.rus_title }}</a>
                                    </h6>

                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}