{% extends 'base.html' %}
{% load static %}
{% load user_tags %}
{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static "core/profile.css" %}">

{% endblock %}
{% block title %}
    Перевод китайских BL-новелл {% if request.get_host == '127.0.0.1:8000' or request.get_host == 'www.privereda1.ru' %}Privereda1{% else %}Oksiji13{% endif %} | Редактировать профиль {{ profile.name }}
{% endblock title %}
{% block scripts %}

    <script>
        var loadFile = function (event) {
            var reader = new FileReader();
            reader.onload = function () {
                var output = document.getElementById('output');
                output.src = reader.result;
            };
            reader.readAsDataURL(event.target.files[0]);
        };
    </script>
{% endblock %}
{% block content %}

    <div class="container emp-profile min-vh-100">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-4">
                    <div class="profile-img">
                        <img id="output" src="{{ profile.avatar.url }}"
                             alt="{{ profile.name }}">
                        <div class="file btn btn-lg btn-primary">
                            Загрузить Аватар
                            <input type="file" name="avatar" accept="image/*" onchange="loadFile(event)">
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                     <div class="row my-1">
                                <div class="col-md-6">
                                    <label>Имя</label>
                                </div>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" name="realname"
                                           value="{{ profile.realname }}">
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-md-6">
                                    <label>Дата рождения</label>
                                </div>
                                <div class="col-md-6">
                                    <p>
                                        <input type="date" id="start" name="born_date"
                                               value="{{ profile.born_date|date:"Y-m-d" }}"
                                               min="1966-01-01"
                                               max="2020-07-17">
                                    </p>
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-md-6">
                                    <label>Пол</label>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="sex"
                                               id="inlineRadio1" value="M" {% if profile.sex ==  'M' %}checked{% endif %}>
                                        <label class="form-check-label" for="inlineRadio1">М</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="sex" {% if profile.sex ==  'F' %}checked{% endif %}
                                               id="inlineRadio2" value="F">
                                        <label class="form-check-label" for="inlineRadio2">Ж</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="sex" {% if profile.sex ==  'UN' %}checked{% endif %}
                                               id="inlineRadio3" value="UN">
                                        <label class="form-check-label" for="inlineRadio3">Не раскрывать</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-md-6">
                                    <label>Город</label>
                                </div>
                                <div class="col-md-6">
                                    <p>
                                        <input type="text" class="form-control" name="city" value="{{ profile.city }}">
                                    </p>
                                </div>
                            </div>
                            <div class="row mt-4">
                                <p class="text-muted">
                                <textarea class="form-control border" rows="3" name="about"
                                          id="contactcomment"
                                          rows="2">{{ profile.about }}</textarea>
                                </p>
                            </div>
                </div>
                <div class="col-md-12 d-flex justify-content-end">
                    <button type="submit" class="btn btn-outline-success"> Сохранить</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">

                </div>
                <div class="col-md-8 mt-3">
                    <div class="tab-content profile-tab" id="myTabContent">
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}