{% extends 'base.html' %}
{% load static %}
{% load user_tags %}
{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static "core/profile.css" %}">

{% endblock %}
<!------ Include the above in your HEAD tag ---------->
{% block content %}
    <div class="container emp-profile">
        <div class="row">
            <div class="col-md-4">
                <div class="profile-img">
                    <img src="{{ profile.avatar.url }}"
                         alt="{{ profile.name }}">
                </div>
            </div>
            <div class="col-md-6">
                <div class="profile-head">
                    <h5>
                        {{ profile.name }}
                    </h5>
                    <h6>
                        Читатель
                    </h6>
                    <p class="proile-rating">Прочитано : <span>12</span></p>
                    <div class="p-0" style="position: absolute; bottom: 0;">
                        <ul class="nav nav-tabs align-bottom" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                                   aria-controls="home" aria-selected="true">Информация</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                                   aria-controls="profile" aria-selected="false">Закладки</a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
            <div class="col-md-2">
                {% if user.is_authenticated and user == profile.name %}
                    <a href="{% url 'core:edit_profile' profile.id profile.slug %}" type="button"
                       class="btn btn-outline-warning profile-edit-btn">
                        Редактировать
                    </a>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="profile-work">
                    <p>WORK LINK</p>
                    <a href="">Website Link</a><br/>
                    <a href="">Bootsnipp Profile</a><br/>
                    <a href="">Bootply Profile</a>
                    <p>SKILLS</p>
                    <a href="">Web Designer</a><br/>
                    <a href="">Web Developer</a><br/>
                    <a href="">WordPress</a><br/>
                    <a href="">WooCommerce</a><br/>
                    <a href="">PHP, .Net</a><br/>
                </div>
            </div>
            <div class="col-md-8 mt-3">
                <div class="tab-content profile-tab" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Имя</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{ profile.realname }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Возраст</label>
                            </div>
                            <div class="col-md-6">
                                <p>
                                    {% if profile.born_date %}
                                        {% age profile.born_date %}
                                    {% else %}
                                        не указан
                                    {% endif %}
                                </p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <label>Пол</label>
                            </div>
                            <div class="col-md-6">
                                <p>
                                    {% if profile.sex == 'UN' %}
                                        Неизвестен
                                    {% elif profile.sex == 'M' %}
                                        Мужской
                                    {% elif profile.sex == 'F' %}
                                        Женский
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Город</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{ profile.city }}</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <label>Зарегистрирован</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{ profile.name.date_joined|date }}</p>
                            </div>
                        </div>

                        <div class="row mt-4">
                            <p class="text-muted">{{ profile.about }}</p>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <div class="list-group">
                            {% for novell in profile.bookmarks.all %}
                                <div class="list-group-item list-group-item-action">
                                    <div class="row">
                                        <div class="col-1 px-1">
                                            <img src="{{ novell.poster.url }}"
                                                 class="img-fluid rounded float-start">

                                        </div>
                                        <div class="col-11">
                                            <div class="d-flex w-100 justify-content-between">
                                                <a class="mb-1 h6"
                                                   href="{{ novell.get_absolute_url }}">{{ novell.original_title }}</a>
                                                {% if user.is_authenticated and user == profile.name %}

                                                    <a href="{% url 'core:del_from_bookmarks' novell.id 'profile' %}"
                                                       class="text-dangera"><i class="text-danger bi bi-bookmark-x"></i>
                                                    </a>
                                                {% endif %}
                                            </div>
                                            <p class="mb-0 text-muted small">Автор: {{ novell.author }}</p>
                                            <p class="mb-0 text-muted small">Глав: {{ novell.chapters.count }}</p>

                                        </div>

                                    </div>
                                </div>
                            {% endfor %}

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}