{% extends 'base.html' %}
{% load static %}
{% load user_tags %}
{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static "core/profile.css" %}">
    <style>
        .table-fix {
            overflow-y: auto;
            height: 500px;
        }

        .table-fix thead th {
            position: sticky;
            top: 0;
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }

        .table td, .table th {
            vertical-align: middle;
        }

    </style>
{% endblock %}
<!------ Include the above in your HEAD tag ---------->
{% block content %}
    <div class="container emp-profile" style="min-height: 100%;">
        <div class="row">
            <div class="col-md-4">
                <div class="profile-img">
                    <img src="{{ profile.avatar.url }}"
                         alt="{{ profile.name }}">
                </div>
            </div>
            <div class="col-md-6">
                <div class="profile-head">
                    <h5>
                        {{ profile.name }}
                    </h5>
                    <h6>
                        Читатель
                    </h6>
                    <p class="proile-rating">Прочитано : <span>12</span></p>
                    <div class="p-0" style="position: absolute; bottom: 0;">
                        <ul class="nav nav-tabs align-bottom" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                                   aria-controls="home" aria-selected="true">Информация</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                                   aria-controls="profile" aria-selected="false">Закладки</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="rating-tab" data-toggle="tab" href="#ratings" role="tab"
                                   aria-controls="ratings" aria-selected="false">Оценки</a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
            <div class="col-md-2">
                {% if user.is_authenticated and user == profile.name %}
                    <a href="{% url 'core:edit_profile' profile.id profile.slug %}" type="button"
                       class="btn btn-outline-warning profile-edit-btn">
                        Редактировать
                    </a>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="profile-work">
                    <p>ЧТО ТО</p>
                    <a href="">Ссылка 1</a><br/>
                    <a href="">Ссылка 2</a><br/>
                    <a href="">Ссылка ещё 3</a>
                    <p>ЕЩЁ ЧТО ТО</p>
                    <a href="">Ссылка 1</a><br/>
                    <a href="">Ссылка 2</a><br/>
                    <a href="">Ссылка ещё 3</a>
                    <a href="">Не знаю зачем</a><br/>
                </div>
            </div>
            <div class="col-md-8 mt-3">
                <div class="tab-content profile-tab" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="row mb-2">
                            <div class="col-md-6">
                                <label>Имя</label>
                            </div>
                            <div class="col-md-6">
                                <p class="mb-0">{% if profile.realname %}{{ profile.realname }}{% else %}Не указано{% endif %}</p>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-md-6">
                                <label>Возраст</label>
                            </div>
                            <div class="col-md-6">
                                <p class="mb-0">
                                    {% if profile.born_date %}
                                        {% age profile.born_date %}
                                    {% else %}
                                        Не указан
                                    {% endif %}
                                </p>
                            </div>
                        </div>

                        <div class="row mb-2">
                            <div class="col-md-6">
                                <label>Пол</label>
                            </div>
                            <div class="col-md-6">
                                <p class="mb-0">
                                    {% if profile.sex == 'UN' %}
                                        Неизвестен
                                    {% elif profile.sex == 'M' %}
                                        Мужской
                                    {% elif profile.sex == 'F' %}
                                        Женский
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-md-6">
                                <label>Город</label>
                            </div>
                            <div class="col-md-6">
                                <p class="mb-0">{% if profile.city %}{{ profile.city }}{% else %}Не указан{% endif %}</p>
                            </div>
                        </div>

                        <div class="row mb-2">
                            <div class="col-md-6">
                                <label>Зарегистрирован</label>
                            </div>
                            <div class="col-md-6">
                                <p class="mb-0">{{ profile.name.date_joined|date }}</p>
                            </div>
                        </div>

                        <div class="row mt-4">
                            <p class="text-muted mb-0">{{ profile.about }}</p>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <div class="list-group">
                            {% for novell in profile.bookmarks.all %}
                                <div class="list-group-item list-group-item-action">
                                    <div class="row">
                                        <div class="col-1 px-1">
                                            <img src="{{ novell.poster.url }}"
                                                 class="img-fluid rounded float-start">

                                        </div>
                                        <div class="col-11">
                                            <div class="d-flex w-100 justify-content-between">
                                                <a class="mb-1 h6"
                                                   href="{{ novell.get_absolute_url }}">{{ novell.original_title }}</a>
                                                {% if user.is_authenticated and user == profile.name %}

                                                    <a href="{% url 'core:del_from_bookmarks' novell.id 'profile' %}"
                                                       class="text-dangera"><i class="text-danger bi bi-bookmark-x"></i>
                                                    </a>
                                                {% endif %}
                                            </div>
                                            <p class="mb-0 text-muted small">Автор: {{ novell.author }}</p>
                                            <p class="mb-0 text-muted small">Глав: {{ novell.chapters.count }}</p>

                                        </div>

                                    </div>
                                </div>
                            {% endfor %}

                        </div>

                    </div>
                    <div class="tab-pane fade" id="ratings" role="tabpanel" aria-labelledby="rating-tab">
                        <div class="container-fluid p-0 mx-0">
                            <div class="table-fix table-responsive">
                                <table class="table table-hover" style="max-width: 100%">
                                    <thead class="table-dark py-2 text-center">
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Новелла</th>
                                        <th scope="col" class="text-left">Дата и время</th>
                                        <th scope="col">Моя оценка</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for novell in profile.name.rated_novells.all %}
                                        <tr>
                                            <th scope="row" class="pl-2 pr-1">
                                                {{ forloop.counter }}
                                            </th>
                                            <td class="text-left"><p class="m-0"><a
                                                    href="{{ novell.novell.get_absolute_url }}"
                                                    style="font-size: 11pt">{{ novell.novell.rus_title }}</a>
                                                <span class="text-dark small">({{ novell.novell.publish.year }})</span>
                                            </p>
                                                <p class="m-0"><span
                                                        class="text-warning">{{ novell.novell.overall_rating }}</span>
                                                    <span class="text-dark small">
                                                        ({{ novell.novell.rating_set.count }})
                                                    </span>
                                                </p>
                                            </td>
                                            <td>
                                                <div class="text-left" style="font-size: 12px">
                                                    {{ novell.updated }}
                                                </div>
                                            </td>
                                            <td class="text-center">
                                                <span class="badge rounded-pill {% if novell.rate.value > 3 %}bg-success{% elif novell.rate.value < 3 %}bg-danger{% else %}bg-warning{% endif %}"
                                                      style="font-size: 12pt">
                                                    {{ novell.rate }}
                                                </span>
                                            </td>
                                        </tr>


                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}