{% load static %}


<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-md-7 mt-3">
            {% if user.is_authenticated %}
                <div class="card bg-c-lite-unknown mb-2" style="border: 4px solid #a9d1f5; box-shadow: none;">
                    <form action="{% url 'core:add_comment_to_chapter' chapter.id %}" method="post"
                          id="CommentForm">
                        {% csrf_token %}
                        <input type="hidden" name="parent" id="contactparent" value="">
                        <div class="form-group editContent">
                            <div class="card-header">
                                <label for="contactcomment" class="editContent h6">
                                    Ваш комментарий:
                                </label>
                            </div>
                            <div class="card-body">
                            <textarea class="form-control border" rows="5" name="body"
                                      id="contactcomment" required=""></textarea>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="d-flex justify-content-end w-100">
                                {% if request.get_host == 'www.oksiji13.ru' %}

                                    <button type="submit"
                                            class="mt-2 btn btn-outline-light"
                                            style="background-color: rgb(172,200,227)">
                                        Отправить
                                    </button>
                                {% else %}
                                    <button type="submit"
                                            class="mt-2 btn btn-outline-light"
                                            style="background-color: rgba(171,59,97,0.75)">
                                        Отправить
                                    </button>
                                {% endif %}
                            </div>
                        </div>
                    </form>
                </div>
            {% else %}
                <h5 class="text-center my-4">Войдите, чтобы оставить комментарий</h5>
            {% endif %}
        </div>
    </div>
</div>