{% load static %}
<footer class="bg-dark text-center text-lg-start mt-3 d-flex justify-content-between">
    <!-- Copyright -->
    <div class="text-center p-3" style="transform: rotate(0);">
        <img src="{% static "img/icons/vk_icon.png" %}" width="28">
        <a class="text-light h5 stretched-link align-text-bottom" href="https://vk.com/bl_novel_privereda1" >Наша группа</a>
    </div>

    <div class="text-primary font-weight-bold p-3">
        © 2021
    </div>
    <!-- Copyright -->
</footer>