{% load static %}
<footer class="text-center text-lg-start d-flex justify-content-between" style="background: rgb(171,59,97);">
    <!-- Copyright -->
    <div class="text-center p-3">

        <a href="https://vk.com/bl_novel_privereda1" style="text-decoration: none">
            <img src="{% static "img/icons/vk_icon_2.png" %}" width="28">
        </a>

        <a class="ml-2" href="https://tl.rulate.ru/users/169401">
            <img src="{% static "img/icons/rulate.png" %}" width="28">
        </a>
    </div>

    <div class="font-weight-bold text-white p-3">
        © 2021
    </div>
    <!-- Copyright -->
</footer>