{% load static %}
{% load user_tags %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{% static 'core/include/like_dislike_panel.css' %}">

{% if user.is_authenticated %}
<ul class="list-group list-group-horizontal-md d-inline-flex">
    <li class="action-like fa fa-thumbs-up {% if rev.votes.likes.all|user_in:user %}text-success{% endif %}"
        data-id="{{ rev.id }}"
        data-type="review" data-action="like" id="lreview{{ rev.id }}">
        <span data-count="like">{{ rev.votes.likes.count }}</span>
    </li>

    <li class="action-dislike fa fa-thumbs-down {% if rev.votes.dislikes.all|user_in:user %}text-danger{% endif %}"
        data-id="{{ rev.id }}"
        data-type="review" data-action="dislike" id="dreview{{ rev.id }}">

        <span data-count="dislike">{{ rev.votes.dislikes.count }}</span>
    </li>
</ul>

{% else %}
    <ul class="list-group list-group-horizontal-md d-inline-flex">
        <li class="action-like fa fa-thumbs-up" data-toggle="modal" data-target="#loginModal" style="cursor: pointer">
            <span data-count="like">{{ rev.votes.likes.count }}</span>
        </li>

        <li class="action-dislike fa fa-thumbs-down" data-toggle="modal" data-target="#loginModal" style="cursor: pointer">

            <span data-count="dislike">{{ rev.votes.dislikes.count }}</span>
        </li>
    </ul>
{% endif %}