{% load user_tags %}
{% load static  %}
<nav class="navbar navbar-expand-lg navbar-dark d-flex sticky-top py-0" style="background: rgb(171,59,97)">
    <div class="container">
        <a class="navbar-brand py-1" href="#"><img src="{% static "img/icons/logotip2.jpg" %}" width="250" height="50"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link font-weight-bold" aria-current="page" href='{% url 'core:home' %}'><i
                            class="bi bi-house-door"></i>
                        <span style="vertical-align: middle">Главная</span></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link font-weight-bold" aria-current="page" href='{% url 'core:filter' %}'>
                        <i class="bi bi-list"></i>
                        <span style="vertical-align: middle">Каталог новелл</span>
                    </a>
                </li>
                <!--
                <li class="nav-item dropdown font-weight-bold">


                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-list"></i>
                        <span style="vertical-align: middle">Жанры</span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {#% genres %#}
                        <hr class="dropdown-divider">
                        <li><a class="dropdown-item" href="{% url 'core:filter' %}">Каталог новелл</a></li>

                    </ul>

                </li>
                -->
                <li class="nav-item">
                    <a class="nav-link font-weight-bold" href="{% url 'core:all_news' %}"><i
                            class="bi bi-newspaper"></i>
                        <span style="vertical-align: middle">Новости</span>
                        {% if user.is_authenticated %}
                            <span class="badge bg-dark p-1 text-center" id="news-notification-count"
                                  style="vertical-align: middle;">{% if user|news_unchecked > 0 %}{{ user|news_unchecked }}{% endif %}</span>
                        {% endif %}
                    </a>
                </li>
            </ul>


            {% if user.is_authenticated %}
                <div class="dropdown">

                    <button type="button" class="btn dropdown-toggle my-bell" data-action="check-notification"
                            data-bs-toggle="dropdown"
                            id="collapseNotification" aria-expanded="false" style="background-color: rgb(219,204,192)">
                        <i id="notify_icon"
                           class="h5 bi bi-bell-fill{% if user|count_unchecked > 0 %}text-success{% endif %}"></i>


                        <span class="badge bg-dark" id="notification-count">{% if user|count_unchecked > 0 %}
                            {{ user|count_unchecked }}{% endif %}</span>
                    </button>

                    <ul class="dropdown-menu" style="width: 500px;">
                        <div class="row justify-content-center">
                            {% not_list user %}
                        </div>
                    </ul>


                </div>

                <a class="p-2 text-white" href="{{ user.user_profile.get_absolute_url }}">{{ user.username }}</a>

            {% else %}
                <a role="button" class="btn btn-success mr-2" href="{% url 'account_signup' %}">Регистрация</a>
            {% endif %}

            {% if user.is_authenticated %}
                <button type="button" class="btn btn-outline-light mr-2 border-0" data-toggle="modal"
                        data-target="#logoutModal" style="background-color: rgb(18,61,106)">
                    Выход
                </button>
            {% else %}
                <button type="button" class="btn btn-primary mr-2" data-toggle="modal" data-target="#loginModal">
                    Вход
                </button>
            {% endif %}
        </div>

        <form class="d-flex" action="{% url 'core:filter' %}" method="get">
            <input class="form-control mr-2" type="search" name="q" placeholder="Поиск" aria-label="Search">
            <button class="btn btn-outline-light border-0" type="submit" style="background-color: rgb(219,204,192)">
                Поиск
            </button>
        </form>


    </div>
</nav>

