{% load user_tags %}
<div class="col-12" id="notifications-list">
    <div class="list-group {% if my_news.count > 4 %}overflow-auto{% endif %}"
         {% if my_news.count > 4 %}style="height: 360px;"{% endif %}>
        {% for element in my_news %}
            <div class="list-group-item list-group-item-action py-1">
                {% if element|get_type == 'chapter' %}
                    <div class="row">
                        <div class="col-1 px-1 justify-content-center d-flex">
                            <div class="ratio ratio-3х4">
                                <img src="{{ element.novell.poster.url }}" class="rounded float-left">
                            </div>
                        </div>
                        <div class="col-11">
                            <div class="d-flex w-100 justify-content-between">
                                <a class="mb-1 h6"
                                   href="{{ element.novell.get_absolute_url }}"
                                   style="font-size: 11pt">{{ element.novell.rus_title|truncatechars:33 }}</a>
                                <small class="font-weight-bold" style="font-size: 8pt;">{{ element.created|timesince }}
                                    назад</small>
                            </div>
                            <p class="mb-1" style="font-size: 8pt;">
                                {% if element.status %}
                                    <span class="font-weight-bold text-success">Добавлена</span>
                                {% else %}
                                    <span class="font-weight-bold text-warning">Анонсирована</span>
                                {% endif %}
                                <span>{{ element.number }} глава.</span>
                                <span class="font-weight-bolder">{{ element.title }}</span>
                            </p>
                        </div>

                    </div>
                {% elif element|get_type == 'comment' %}
                    <div class="row">
                        <div class="col-1 px-1">
                            <img src="{{ element.author.user_profile.avatar.url }}"
                                 width="30"
                                 class="user-img rounded-circle mr-2"
                                 alt="{{ element.author }}">
                        </div>
                        <div class="col-11">
                            <div class="d-flex justify-content-between" style="font-size: 11pt">

                                <span>
                                    <a href="{{ element.author.user_profile.get_absolute_url }}">{{ element.author }}</a> ответил
                                    <span class="fst-italic" style="font-size: 8pt;">
                                        "{{ element.body }}"
                                    </span>
                                </span>
                                <span class="font-weight-bold" style="font-size: 8pt;">
                                    {{ element.created|timesince }}
                                </span>
                            </div>
                            <p class="mb-1" style="font-size: 10pt;">
                                В <span class="font-weight-bold text-info"> {{ element.content_object|get_theme }}</span>
                                <a
                                    href="{{ element.get_absolute_url }}"
                                    class="link-dark">{{ element.content_object }}
                            </a>
                            </p>
                        </div>
                    </div>
                {% endif %}

            </div>
        {% endfor %}
    </div>
</div>
