
.scrolling-wrapper-flexbox {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    width: 100%;
}


.scrolling-wrapper-flexbox .card {
    flex: 0 0 auto;
}

.checked {
    color: orange;
}

a:hover {
    color: inherit;
}

.carousel-indicators .active img {
    padding: .25rem;
    background-color: #fff;
    border: 2px solid #00FF00;
    border-radius: .25rem;
    max-width: 100%;
    height: auto;
}
.carousel-indicators button img {
    padding: .25rem;
    background-color: #fff;
    border: 2px solid #1c7430;
    border-radius: .25rem;
    max-width: 100%;
    height: auto;
}