
.scrolling-wrapper-flexbox {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    width: 100%;
}


.scrolling-wrapper-flexbox .card {
    flex: 0 0 auto;
}

.checked {
    color: orange;
}

a:hover {
    color: inherit;
}

