

.nav-tabs {
    margin-left: 1%;
    margin-top: 1%;
}

.checked {
    color: orange;
}

.unchecked {

    color: #eaeeff;
}


.nav-tabs .nav-link {
    font-weight: 600;
    border: none;
}

.nav-tabs .nav-link.active {
    border: none;
    border-bottom: 2px solid #0062cc;
}

.description {
    font-family: "Bell MT";
    font-size: larger;
}


/* Checkbox stars */
.rating {
  overflow: hidden;
  vertical-align: bottom;
  display: inline-block;
  width: 155px;
  height: 30px;
}

.rating > input {
  opacity: 0;
  margin-right: -100%;
}

.rating > label {
  position: relative;
  display: block;
  float: right;
  background: url('../img/star-off-2.png');
  background-size: 30px 30px;
}

.rating > label:before {
  display: block;
  opacity: 0;
  content: '';
  width: 30px;
  height: 30px;
  background: url('../img/star-on-2.png');
  background-size: 30px 30px;
  transition: opacity 0.2s linear;
}

.rating > label:hover:before,  .rating > label:hover ~ label:before,  .rating:not(:hover) > :checked ~ label:before { opacity: 1; }
/* //Checkbox stars */
